
body{
  background-color: #00ccff;
}
.login-form{
  width: 80%;
 margin-top: 90px;
 margin-left: 100px ;
 margin-right: 100px;
 padding: 80px;
  background-color: #fff;
  
}
.btn-red{
  background-color: crimson;
}
.inputStyle{
  border: none;
 
  border-bottom: 1px solid #000;
}